﻿@model CWFinal.Models.BuildingRegisterViewModel
@{
    ViewData["Title"] = "Создание Группы";
}

<h2>Добавление заведения</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Home" asp-action="AddBuilding" enctype="multipart/form-data">
            <h4>Добавление заведения</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="UserName" class="form-control" value="@User.Identity.Name" />
                <label asp-for="BuildingLogo"></label><br/>
                <input onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this, 'image/png', 500)" class="form-control" type="file" name="BuildingLogo" value="" accept="image/png"/>
            </div>            
            <button type="submit" class="btn btn-default">Создать</button>
        </form>
    </div>
</div>

