﻿@model BuildingPagingViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>All places</h2>

    @if (Model.Buildings.Any())
    {
        foreach (var building in Model.Buildings)
        {
            <tr>
                <td>
                    <img src="~/@building.BuildingLogo" width="48" height="38" />
                </td>
                <td>
                    <a asp-action="ShowBuildingInfo" asp-controller="Home" asp-route-Id="@building.Id">@building.Name </a>
                </td>
                <td>
                    <span>Here must be degree</span>
                </td>
            </tr>
        }
        if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn btn-default btn">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    }

    else
    {
        <h2 align="center">Пока в системе нету ни одного заведения</h2>
    }

