﻿
@model ShowBuildingViewModel

@{
    ViewData["Title"] = "ShowBuildingInfo";
}

<h2>@Model.Building.Name</h2>

<span>@Model.Building.Description</span>

        @foreach (var picture in Model.PictureList)
        {
            <tr>
                <td>
                    <img src="~/@picture" width="48" height="38" />
                </td>
            </tr>
        }
<br/>
    <table>
        @foreach (var post in Model.PostList)
        {

            <tr>
                <span>@post.PostDescription</span>
                <br />
            </tr>
        }
    </table>

    <form method="post" asp-controller="Home" asp-action="AddPost" enctype="multipart/form-data">
        <h4>Добавить комментарий</h4>
        <div class="col-md-12 form-group">
            <label asp-for="Post">Текст комментария</label>
            <input asp-for="Message" class="form-control" />
            <input type="hidden" asp-for="UserName" class="form-control" value="@User.Identity.Name" />
            <input type="hidden" asp-for="BuildingId" class="form-control" value="@Model.Building.Id" /> <br/>
            <label asp-for="DegreeValue">Оценка</label>
            <select asp-for="DegreeValue">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button type="submit" class="btn btn-default">Добавить</button>
        </div>
    </form>
    <form method="post" asp-controller="Home" asp-action="AddPicture" enctype="multipart/form-data">
        <h4>Добавить картинку</h4>
        <div class="col-md-12 form-group">
            <label asp-for="PicturePath"></label><br />
            <input onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this,'image/png',500)" class="form-control" type="file" name="PicturePath" value="" accept="image/png" />
            <input type="hidden" asp-for="UserName" class="form-control" value="@User.Identity.Name" />
            <input type="hidden" asp-for="BuildingId" class="form-control" value="@Model.Building.Id" />
            <button type="submit" class="btn btn-default">Добавить</button>
        </div>
    </form>

